In [62]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv('input/iris.csv')

In [63]:
df

,Unnamed: 0,Sepal.Length,Sepal.Width,Petal.Length,Petal.Width,Species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,virginica
146,147,6.3,2.5,5.0,1.9,virginica
147,148,6.5,3.0,5.2,2.0,virginica
148,149,6.2,3.4,5.4,2.3,virginica
149,150,5.9,3.0,5.1,1.8,virginica

In [64]:
df.loc[(df['Species']=='setosa'),'Species']=1
df.loc[(df['Species']=='versicolor'),'Species']=2
df.loc[(df['Species']=='virginica'),'Species']=3

df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [65]:
train,test= train_test_split(df, test_size=0.3)

In [66]:
test.to_csv('input/iris_test.csv')

In [67]:
train.to_csv('input/iris_train.csv')